/* Highlighted Text Properties */

::-moz-selection {
    background: yellow;
}

::selection {
    background: yellow;
    border-bottom: 1px solid blue;
}

#navbar-color
{
    background-color: rgb(38, 38, 38);
}

.heading-paragraphs {
    font-size: 140%
}

.heading-paragraph-items {
    font-size: 110%
}

#ipfs-icon {
    height: 20%;
}

/* set Intro CSS, height to 100% */

html,
body,
header,
#intro {
    height: 100%;
}




/* media query for the header, to adjust to small screens 
such as mobile devices */

@media (max-width: 767px) {
    html,
    body,
    header {
        height: 750px;
    }
}

.buttons-hover:hover {
    background-color: white !important;
    color: black !important;
}

/* medium to big screens display the header correctly;
  also defining font sizes for headings and paragraphs for 
  these sizes*/

@media (min-width: 767px) {
    #desktop-header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #desktop-header2 {
        display: flex;
        justify-content: center;
    }
    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 3.5em;
    }
    h3 {
        font-size: 2em;
    }
    h4 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
   
}

/* Defining font sizes for small devices such as \
mobile devices  */

@media (max-width: 575px) {
    h2 {
        font-size: 2em;
    }
    h3
    {
        font-size: 1em;
    }
    
    h4 {
        font-size: 1em;
    }
    .heading-paragraphs {
        font-size: 110%
    }
    
    .heading-paragraph-items {
        font-size: 110%
    }
    #cover-main-header
    {
        margin-top: 100px;
    }
}

@media (max-width: 991px) { 
 
 }

 #section-how-does-it-work
 {

 }

/* footer background color */

#footer-background {
    background-color: rgb(38, 38, 38);
}

.footer-content:hover {
    color: rgba(57, 186, 145, .8);
}

/* Padding so that the navbar appears correctly at the top */

body,
header {
    padding-top: 20px;
}

/* Setting background image for our header and 
defining it as cover*/

#intro {
    background: url("../img/landing-page-cover5.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Divs background colors */

#background-privacy {
    background-color: rgb(61, 70, 79);
}

#background-gdpr {
    background-color: rgb(61, 70, 79);
}

#section-features {
    background-color: #fff4f2;
}

/* Divs background colors */

#background-transparency {
    background-color: rgb(230, 232, 236);
}

/* Simple animation for the search bar */

#navbar-search {
    width: 75px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

/* Self-explanatory */

#navbar-search:focus {
    width: 200px;
}

/* Self-explanatory */

#navbar-search-div {
    margin-left: 50px;
}