html,
body,
header,
#intro {
    height: 100%;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 400px;
    }
}

@media (max-width: 740px) {
    h2 {
        font-size: 1.5em;
    }
    h4 {
        font-size: 1em;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 650px;
    }
}

body,
header {
    padding-top: 20px;
}

#intro {
    background: url("../img/landing-page-cover5.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#background-privacy {
    background-color: rgb(61, 70, 79)
}

#background-transparency {
    background-color: rgb(230, 232, 236)
}

.top-nav-collapse {
    background-color: #24355C;
}

#navbar-search {
    width: 75px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

#navbar-search:focus {
    width: 200px;
}

#navbar-search-div {
    margin-left: 50px;
}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    h2 {
        font-size: 30px;
    }
}